<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 唯一命名空间，必须定义为：所在包名+接口文件名 -->
<mapper namespace="com.dyp.dashboard.module.sys.repository.SysPermissionMapper">
    <cache eviction="FIFO" size="512" flushInterval="60000" readOnly="false"></cache>

    <resultMap type="com.dyp.dashboard.module.sys.entity.SysPermission" id="sysPermissionMap">
        <id property="permissionId"           column="permission_id"   jdbcType="VARCHAR" />
        <result property="available"  column="available"   jdbcType="BIT" />
        <result property="permissionName"  column="permission_name"   jdbcType="VARCHAR" />
        <result property="parentId"  column="parent_id"   jdbcType="INTEGER" />
        <result property="permission" column="permission"  jdbcType="VARCHAR" />
        <result property="resourceType" column="resource_type"  jdbcType="VARCHAR" />
        <result property="url"  column="url"   jdbcType="VARCHAR" />
        <result property="level"  column="level"   jdbcType="INTEGER" />
    </resultMap>

    <insert id="insert" parameterType="com.dyp.dashboard.module.sys.entity.ImageData">
        INSERT INTO sys_image(id, type, name, create_date, data)
        VALUES(#{id}, #{type}, #{name}, #{createDate}, #{data})
    </insert>

    <select id="selectAll" resultMap="sysPermissionMap">
        SELECT  *
        FROM sys_permission
    </select>
</mapper>