<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 唯一命名空间，必须定义为：所在包名+接口文件名 -->
<mapper namespace="com.dyp.dashboard.module.sys.repository.UserMapper">
    <!--    <cache eviction="FIFO" size="512" flushInterval="60000" readOnly="false"></cache>-->

    <resultMap type="com.dyp.dashboard.module.sys.entity.User" id="userMap">
        <id property="userId"           column="user_id"   jdbcType="INTEGER" />
        <result property="userName"  column="user_name"   jdbcType="VARCHAR" />
        <result property="name"  column="name"   jdbcType="VARCHAR" />
        <result property="password"  column="password"   jdbcType="VARCHAR" />
        <result property="salt"  column="salt"   jdbcType="VARCHAR" />
        <result property="email"  column="email"   jdbcType="VARCHAR" />
        <result property="tel" column="tel"  jdbcType="VARCHAR" />
        <result property="state" column="state"  jdbcType="VARCHAR" />
        <result property="createTime" column="create_time"  jdbcType="TIMESTAMP" />
    </resultMap>

    <insert id="insert">
        INSERT INTO sys_user(user_name, name, password, salt, email, tel, state, create_time)
        VALUES(#{userName}, #{name}, #{password}, #{salt}, #{email}, #{tel}, #{state}, #{createTime})
    </insert>

    <select id="selectAll" resultMap="userMap">
        SELECT  *
        FROM sys_user
    </select>

    <select id="selectById" resultMap="userMap">
        SELECT *
        FROM sys_user WHERE user_id = #{id}
    </select>

    <select id="selectByUerName" resultMap="userMap">
        SELECT *
        FROM sys_user WHERE user_name = #{name}
    </select>

    <select id="selectPermissionByUserId" resultMap="com.dyp.dashboard.module.sys.repository.SysPermissionMapper.sysPermissionMap">
        SELECT * FROM dashboard.sys_permission WHERE permission_id in
        (SELECT permission_id FROM dashboard.sys_role_permission rp LEFT JOIN dashboard.sys_user_role ur on rp.role_id = ur.role_id WHERE  ur.user_id = #{id});
    </select>

    <delete id="deleteById">
        DELETE FROM sys_user WHERE user_id = #{id}
    </delete>

    <update id="update">
        UPDATE sys_permission
        <set>
            <if test="userName != null ">
                user_name = #{userName},
            </if>
            <if test="name != null" >
                name = #{name},
            </if>
            <if test="password != null" >
                password = #{password},
            </if>
            <if test="salt != null ">
                salt = #{salt},
            </if>
            <if test="email != null" >
                email = #{email},
            </if>
            <if test="tel != null" >
                tel = #{tel},
            </if>
            <if test="state != null" >
                state = #{state},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime},
            </if>
        </set>

        WHERE user_id = #{userId}
    </update>
</mapper>