<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyp.dashboard.module.cms.repository.CmsArticleDataMapper">
    <resultMap id="cmsArticleDataMap" type="com.dyp.dashboard.module.cms.entity.CmsArticleData">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="copy_from" jdbcType="VARCHAR" property="copyFrom" />
    </resultMap>

    <insert id="insert" >
        insert into cms_article_data (id,title,description,create_by,create_date,update_by,update_date,content,copy_from)
        values (#{id}, #{title}, #{description}, #{createBy}, #{createDate}, #{updateBy}, #{updateDate}, #{content}, #{copyFrom})
    </insert>

    <select id="selectById" resultMap="cmsArticleDataMap">
        select * from cms_article_data where id = #{id}
    </select>

</mapper>